*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: white;
    font-family: 'Gilroy', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
    
}

#main{
    height: 100%;
    width: 100%;
    background-color: black;

}
#nav {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    
}
#nav-part2{
    display: flex;
    gap: 40px;

}
#nav-part3{
    display: flex;
    gap: 40px;
    align-items: center;

}
img{
    height: 60px;
}

#nav h3{
    text-transform: uppercase;
}
#nav h4{
    text-transform: uppercase;
}

#nav button{
    background-color: #fff;
    color: #000;
    padding: 15px 25px;
    font-weight: 700;
    font-size: 16px;
    border: none;
}

#main h1{
    font-size: 160px;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#main h1 span{
    background-color: brown;
    font-size: 25px;
    padding: 20px 40px;
    border-radius: 50px;
    margin: 0 50px;

}
#main #left-image{
    height: 400px;
    position: absolute;
    top: 14%;
    left: 6%;
    border-radius: 30px;
}

#main #right-image{
    height: 400px;
    position: absolute;
    bottom: 14%;
    right: 6%;
    border-radius: 30px;
}

#h4{
    font-size: 25px;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateY(-50%);
}